 <!DOCTYPE html>
<html>
<meta charset="UTF-8">
<head>
<title>Page Title</title>
</head>
<style>
.divbox {
  font-size: 70%;
  padding: 6px;
  position: absolute;
  text-align: center;
  margin-bottom: 5px;
  white-space: nowrap;
  display: inline;
  display: inline-block;
  border-radius: 9px;
  border: 1px solid blue;
}

#droparea {
  position: absolute;
  height: 9000px;
  width: 90000px
}
</style>

<script charset="utf-8" type="text/javascript">
var offsetx = null, offsety = null;
function drag(target, event) {
	if (!target.draggable) return;
	offsetx = target.offsetLeft-event.clientX;
	offsety = target.offsetTop-event.clientY;
    event.dataTransfer.setData('Text',target.id);
}

function drop(target, event) {
    var id = event.dataTransfer.getData('Text');
	if (!id) return;
    var e = document.getElementById(id);
    e.style.position = "absolute";
    e.style.left = (event.clientX+offsetx)+"px";
    e.style.top = (event.clientY+offsety)+"px";
    event.preventDefault();
}
</script>

<body id="droparea" draggable="false" ondrop="drop(this, event)" ondragenter="return false" ondragover="return false">

<h1>OEs and Wireline Valuestream</h1>

{% for d in data %}
{% if d.show == "y" %}
<!--<div class="divbox" draggable="true" id="draggable{{ loop.index }}" ondragstart="drag(this,event)" >{{ d.name }}</div>-->
<div class="divbox" draggable="true" id="draggable{{ loop.index }}" ondragstart="drag(this,event)" style="left: {{ d.pos_x }}px; top: {{ d.pos_y }}px">{{ d.name }}</div>
{% endif %}
{% endfor %}
</body>
</html>
